@model Travel.Core.Entities.Libro

<h1>Crear</h1>

<h4>Editorial</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sinopsis" class="control-label"></label>
                <input asp-for="Sinopsis" class="form-control" />
                <span asp-validation-for="Sinopsis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NPaginas" class="control-label"></label>
                <input asp-for="NPaginas" class="form-control" />
                <span asp-validation-for="NPaginas" class="text-danger"></span>
            </div>
           <div class="form-group">
               <select class="form-control" id="selectTipoDocumento" asp-items="ViewBag.items" asp-for="Editoriales">
                    <option value = null>Seleccione una opción</option>
                </select>  
           </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@Html.ActionLink("Ir a Libro","Index","Libro")
